# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [489]:
import pandas as pd

df_file1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df_file2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df_file3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

In [490]:
# check the number of rows and columns

df_file1.shape

(4008, 11)

In [491]:
df_file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [492]:
df_file2.shape

(996, 11)

In [493]:
df_file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [494]:
df_file3.shape

(7070, 11)

In [495]:
df_file3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

All datasets have the same number of columns but they are named different between each other. 
We have to fix the names of the columns

In [496]:

df_file1.columns = df_file1.columns.str.lower().str.replace(' ', '_')
df_file1 = df_file1.rename(columns={'st': 'state'})
df_file1.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [497]:
df_file2.columns = df_file2.columns.str.lower().str.replace(' ', '_')
df_file2 = df_file2.rename(columns={'st': 'state'})
df_file2.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [498]:
df_file3.columns = df_file3.columns.str.lower().str.replace(' ', '_')
df_file3.columns

Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [499]:
# Concatenate the dataframes vertically 
customer_data = pd.concat([df_file1, df_file2, df_file3], axis=0)
customer_data.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [500]:
customer_data.shape

(12074, 11)

In [501]:
# check the values in the dataframe

customer_data.value_counts()

customer  state       gender  education             customer_lifetime_value  income   monthly_premium_auto  number_of_open_complaints  policy_type     vehicle_class  total_claim_amount
MY31220   California  F       College               899704.02%               54230.0  112.0                 1/0/00                     Personal Auto   Two-Door Car   537.600000            2
CW49887   California  F       Master                462680.11%               79487.0  114.0                 1/0/00                     Special Auto    SUV            547.200000            2
GS98873   Arizona     F       Bachelor              323912.47%               16061.0  88.0                  1/0/00                     Personal Auto   Four-Door Car  633.600000            2
RK45396   California  M       Bachelor              5380.316469              0.0      73.0                  0                          Corporate Auto  Four-Door Car  350.400000            1
RJ79502   AZ          M       Bachelor              850128.00%               98003.0  107.0                 1/0/00                     Personal Auto   SUV            449.408637            1
                                                                                                                                                                                           ..
IS12075   California  F       High School or Below  5100.088201              0.0      71.0                  1                          Corporate Auto  Four-Door Car  653.726919            1
IR78670   California  M       Bachelor              8719.125849              0.0      116.0                 1                          Personal Auto   Four-Door Car  556.800000            1
IR74017   Oregon      F       College               5320.614976              32116.0  132.0                 0                          Personal Auto   SUV            277.351026            1
IR73545   Oregon      M       College               13727.79972              0.0      126.0                 0                          Personal Auto   SUV            604.800000            1
ZZ97035   California  M       College               2071494.04%              0.0      203.0                 1/0/00                     Corporate Auto  Luxury Car     2027.724442           1
Name: count, Length: 9007, dtype: int64

In [502]:
# Standarize values in categorical columns

customer_data['gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [503]:
customer_data['gender'] = customer_data['gender'].map({'Femal': 'F', 'Male': 'M', 'female': 'F'})
customer_data.gender.unique()

array([nan, 'F', 'M'], dtype=object)

In [504]:
customer_data.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [505]:
customer_data['state'] = customer_data['state'].map({'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'})
customer_data['state'].unique()

array([nan, 'California', 'Arizona', 'Washington'], dtype=object)

In [506]:
customer_data.education.unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [507]:
customer_data['education'] = customer_data['education'].str.replace('Bachelors', 'Bachelor')
customer_data['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [508]:
customer_data.policy_type.unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [509]:
customer_data.vehicle_class.unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [510]:
customer_data.customer_lifetime_value.unique()

array([nan, '697953.59%', '1288743.17%', ..., 8163.890428, 7524.442436,
       2611.836866], dtype=object)

In [511]:
# In Customer Lifetime Value, delete the `%` character*. Convert to float
customer_data['customer_lifetime_value'] = customer_data['customer_lifetime_value'].str.replace('%', '')
customer_data['customer_lifetime_value'].unique()

array([nan, '697953.59', '1288743.17', ..., '568964.41', '368672.38',
       '399258.39'], dtype=object)

In [512]:
# Update the data types as appropriate

customer_data.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [513]:
customer_data.customer_lifetime_value = customer_data.customer_lifetime_value.astype(float)

In [514]:
# check the unique values in 'number_of_open_complaints'

customer_data['number_of_open_complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan, 0,
       2, 3, 1, 5, 4], dtype=object)

In [515]:
# Fix 'number_of_open_complaints'

customer_data["number_of_open_complaints"] = customer_data["number_of_open_complaints"].astype("str")

def extract_complaints(value):
    try:
        if isinstance(value, str) and "/" in value:
            return int(value.split("/")[1])

        elif value.isdigit():
            return int(value)
        
        else:
            return 0
        
    except ValueError:
        return 0


customer_data["number_of_open_complaints"] = customer_data["number_of_open_complaints"].apply(extract_complaints)

customer_data["number_of_open_complaints"] = customer_data["number_of_open_complaints"].astype(int)

customer_data["number_of_open_complaints"].unique

<bound method Series.unique of 0       0
1       0
2       0
3       0
4       0
       ..
7065    0
7066    0
7067    3
7068    0
7069    0
Name: number_of_open_complaints, Length: 12074, dtype: int32>

In [516]:
# Identify missing values

customer_data.isnull().sum()

customer                      2937
state                        11850
gender                       11987
education                     2937
customer_lifetime_value      10014
income                        2937
monthly_premium_auto          2937
number_of_open_complaints        0
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64

In [517]:
# Identify missing values in all rows
customer_data.isnull().all(axis=1).sum()

0

In [518]:
# Fill numeric columns with 0
numeric_columns = ['customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'total_claim_amount']
customer_data[numeric_columns] = customer_data[numeric_columns].fillna(0)

# Fill categorical columns with 'Unespecified'
categorical_columns = ['customer', 'state', 'gender', 'education', 'policy_type', 'vehicle_class']
customer_data[categorical_columns] = customer_data[categorical_columns].fillna('Unespecified')

# Verify that there are no more null values
customer_data.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [519]:
# Identify duplicates

customer_data.duplicated().sum()

2943

In [520]:
# Drop duplicates and keep the first occurrence

customer_data = customer_data.drop_duplicates(keep='first')
display(customer_data.head(5))

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Unespecified,Unespecified,Master,0.00,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Unespecified,Unespecified,Bachelor,697953.59,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Unespecified,Unespecified,Bachelor,1288743.17,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,Unespecified,Unespecified,Bachelor,764586.18,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Unespecified,Unespecified,High School or Below,536307.65,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323

In [521]:
# Reset the index to ensure consistency

customer_data.reset_index(drop=True, inplace=True)
customer_data.duplicated().sum()

0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [522]:
marketing_customer = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')
marketing_customer.shape

(10910, 27)

In [523]:
# Concat the dataframes

marketing_df = pd.concat([customer_data, marketing_customer], axis=0)

marketing_df.shape

(20041, 27)

In [524]:
marketing_df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount', 'unnamed:_0',
       'response', 'coverage', 'effective_to_date', 'employmentstatus',
       'location_code', 'marital_status', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_policies', 'policy',
       'renew_offer_type', 'sales_channel', 'vehicle_size', 'vehicle_type',
       'month'],
      dtype='object')

In [525]:
marketing_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20041 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       20041 non-null  object
 1   state                          20041 non-null  object
 2   gender                         20041 non-null  object
 3   education                      20041 non-null  object
 4   customer_lifetime_value        20041 non-null  float64
 5   income                         20041 non-null  float64
 6   monthly_premium_auto           20041 non-null  float64
 7   number_of_open_complaints      20041 non-null  float64
 8   policy_type                    20041 non-null  object
 9   vehicle_class                  20041 non-null  object
 10  total_claim_amount             20041 non-null  float64
 11  unnamed:_0                     10910 non-null  float64
 12  response                       10910 non-null  object
 13  coverage                       10910 non-null  object
 14  effective_to_date              10910 non-null  object
 15  employmentstatus               10910 non-null  object
 16  location_code                  10910 non-null  object
 17  marital_status                 10910 non-null  object
 18  months_since_last_claim        10910 non-null  float64
 19  months_since_policy_inception  10910 non-null  float64
 20  number_of_policies             10910 non-null  float64
 21  policy                         10910 non-null  object
 22  renew_offer_type               10910 non-null  object
 23  sales_channel                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  float64
dtypes: float64(10), object(17)
memory usage: 4.3+ MB

In [526]:
marketing_df.nunique()

customer                          9135
state                                6
gender                               3
education                            6
customer_lifetime_value           9965
income                            5694
monthly_premium_auto               211
number_of_open_complaints            7
policy_type                          4
vehicle_class                        7
total_claim_amount                5107
unnamed:_0                       10910
response                             2
coverage                             3
effective_to_date                   59
employmentstatus                     5
location_code                        3
marital_status                       3
months_since_last_claim             37
months_since_policy_inception      100
number_of_policies                   9
policy                               9
renew_offer_type                     4
sales_channel                        4
vehicle_size                         3
vehicle_type                         1
month                                2
dtype: int64

In [527]:
# Check for missing values

marketing_df.isnull().sum()

customer                            0
state                               0
gender                              0
education                           0
customer_lifetime_value             0
income                              0
monthly_premium_auto                0
number_of_open_complaints           0
policy_type                         0
vehicle_class                       0
total_claim_amount                  0
unnamed:_0                       9131
response                         9131
coverage                         9131
effective_to_date                9131
employmentstatus                 9131
location_code                    9131
marital_status                   9131
months_since_last_claim          9131
months_since_policy_inception    9131
number_of_policies               9131
policy                           9131
renew_offer_type                 9131
sales_channel                    9131
vehicle_size                     9131
vehicle_type                     9131
month                            9131
dtype: int64

In [528]:
# Check for missing values in all rows

marketing_df.isnull().all(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
10905    False
10906    False
10907    False
10908    False
10909    False
Length: 20041, dtype: bool

In [529]:
# Check for duplicates

marketing_df.duplicated().sum()

0

In [530]:
# Drop unnecessary columns

marketing_df = marketing_df.drop(['unnamed:_0'], axis=1)
display(marketing_df.sample(5))

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,...,marital_status,months_since_last_claim,months_since_policy_inception,number_of_policies,policy,renew_offer_type,sales_channel,vehicle_size,vehicle_type,month
6968,SM42781,Unespecified,Unespecified,Bachelor,0.00000,0.0,195.0,1.0,Personal Auto,Luxury SUV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1384,QA49556,Unespecified,Unespecified,Master,520022.78000,23401.0,66.0,0.0,Personal Auto,Four-Door Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5157,UP57305,Unespecified,Unespecified,Bachelor,0.00000,22726.0,65.0,0.0,Personal Auto,Four-Door Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6422,HB48518,Unespecified,Unespecified,College,0.00000,31409.0,100.0,0.0,Corporate Auto,SUV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5608,KL27677,Nevada,F,College,10793.75704,24195.0,90.0,0.0,Personal Auto,Two-Door Car,...,Married,32.0,70.0,2.0,Personal L3,Offer1,Branch,Large,A,1.0

In [531]:
# Check for types of columns

marketing_df.dtypes

customer                          object
state                             object
gender                            object
education                         object
customer_lifetime_value          float64
income                           float64
monthly_premium_auto             float64
number_of_open_complaints        float64
policy_type                       object
vehicle_class                     object
total_claim_amount               float64
response                          object
coverage                          object
effective_to_date                 object
employmentstatus                  object
location_code                     object
marital_status                    object
months_since_last_claim          float64
months_since_policy_inception    float64
number_of_policies               float64
policy                            object
renew_offer_type                  object
sales_channel                     object
vehicle_size                      object
vehicle_type                      object
month                            float64
dtype: object

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [538]:
marketing_df.sales_channel.unique()

array([nan, 'Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

In [536]:
# Create the pivot table
revenue_summary = marketing_df.pivot_table(
    index='sales_channel',            # Rows: Sales Channel
    values='total_claim_amount',       # Values: Total Revenue
    aggfunc='sum',                     # Aggregation function: Sum of revenue
    fill_value=0                       # Replace NaN with 0 if there are any missing values
).round(2)                            # Round the total revenue to 2

revenue_summary

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

Agents generated the highest total revenue. The worst sales channel is the web

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [540]:
# Create a pivot table that shows the average customer lifetime value per gender and education level

lifetime_value_summary = marketing_df.pivot_table(
    index='gender',                    # Rows: Gender
    columns='education',               # Columns: Education
    values='customer_lifetime_value', # Values: Customer Lifetime Value
    aggfunc='mean',                   # Aggregation function: Mean of customer lifetime value
    fill_value=0                      # Replace NaN with 0 if there are any missing values

).round(2)


lifetime_value_summary

education,Bachelor,College,Doctor,High School or Below,Master,Unespecified
gender,,,,,,
F,14814.48,13886.60,7328.51,13081.05,12055.89,0.0
M,10481.31,15390.69,16355.05,18028.22,16904.93,0.0
Unespecified,160510.84,177817.80,174928.94,170470.61,171661.34,0.0

FEMALES
    Â· The highest lifetime value is observed in the bachelor category
    . Lowest is in doctor cateegory
    That suggest that there are less woman with the doctorÂ´s category
MALES
    Â· The highest lifetime value is observed in the high school category
    Â· Lowest is in bachelor category

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [532]:
# Your code goes here